html {
  height: 100%;
  width: 100%;
}

.time {
  width: 50px;
  height: 20px;
  background-color: #f2f2f2;
  padding: 3px;
  border: 1px solid #ccc;
  color: #333;
}

.tecnico {
  width: 65px;
  height: 20px;
  background-color: #f2f2f2;
  padding: 3px;
  border: 1px solid #ccc;
  color: #333;
}

.estadio {
  width: 65px;
  height: 20px;
  background-color: #f2f2f2;
  padding: 3px;
  border: 1px solid #ccc;
  color: #333;
}

.botão {
  border-radius: 5px;
  border: 1px solid #333;
  background-color: green;
  color: #fff;
  height: 30px;
  width: 46px;
}

.botaot {
  border-radius: 5px;
  border: 1px solid #333;
  background-color: green;
  color: #fff;
  height: 30px;
  width: 46px;
}

.botaoe {
  border-radius: 5px;
  border: 1px solid #333;
  background-color: green;
  color: #fff;
  height: 30px;
  width: 46px;
}

text {
  font-family: 'Bebas Neue', cursive;
}

h2 {
  font-family: 'Bebas Neue', cursive;
}

h1 {
  font-family: 'Bebas Neue', cursive;
}

<div class="rodape"><input type="text" /><input type="text" /><input type="submit" /></div>
